!!!
%html{lang: "en", class: " is-copy-enabled is-u2f-enabled"}

  %head
    %title
      Mapstick demo
    %meta{:name => "viewport", :content => "initial-scale=1.0"}
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/demo.css"}

  %body
    #gmap
    #drawer
    %script(src="//maps.google.com/maps/api/js?key=AIzaSyBKEPtZVjFK7LzTvzJ7v1LJxkaRekvcxSY&libraries=geometry")
    %script(src="/demo.js")
